<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <section
    class="bg-white p-8 rounded shadow-md w-full max-w-sm"
    aria-labelledby="login-title"
    role="main"
  >
    <h2 id="login-title" class="text-2xl font-bold text-center mb-6">
      Iniciar sesión
    </h2>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="space-y-4"
      aria-describedby="login-instructions"
      novalidate
    >
      <div>
        <label for="email" class="block text-sm font-medium">Correo</label>
        <input
          name="email"
          type="email"
          formControlName="email"
          class="w-full px-3 py-2 border rounded mt-1"
          aria-required="true"
          aria-describedby="email-error"
          autocomplete="email"
        />
        @if(form.get('email')?.invalid && form.get('email')?.touched) {

        <div id="email-error" class="text-red-600 text-sm mt-1">
          Ingresá un correo válido.
        </div>
        }
      </div>

      <button
        type="submit"
        [disabled]="form.invalid"
        class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition disabled:opacity-50"
      >
        Entrar
      </button>
    </form>
  </section>
</div>

<app-confirm-register-modal
  [open]="mostrarModal()"
  (confirm)="registrarse()"
  (cancel)="cerrarModal()"
/>

<app-loading-spinner [mostrar]="mostrarSpinner()" [texto]="textoSpinner()" />
